
build_dir=$1
test_log=$2
fn=$(realpath $test_log)



  cat /dev/null > $test_log 
  
  ./pcre2_jit_test  2>&1 > $test_log 

	
		




get_status() {
	string=$(cat $fn)
	
	if [[ $string == *"regression tests are successfully passed"* ]]; then
	    echo "success\n"
	    
	else
	    echo "FAILED\n"
	fi	
}

get_err_msg() {
	cat $test_log > $1 
}



fix_log="${test_log/\.log/}"

status_log=$( get_status)
echo $status_log > "${fix_log}.status"

get_err_msg  "${fix_log}.msg" 



