build_dir=$1
test_log=$2


##38 Multi-bulk never overflows regardless of maxelements: PASSED


cat /dev/null > $test_log 

rm -fr defect4c_asan 
mkdir -p defect4c_asan 
export ASAN_OPTIONS="log_path=defect4c_asan/asan.log"	

ctest --test-dir $build_dir -V  > $test_log 2>&1 

cat defect4c_asan/asan.log* >> $test_log




get_status() {
	string=$(cat $test_log|grep  "maxelements"|grep "PASSED" )
	
    if [[ -z $string ]] ; then	    
    	echo "FAILED\n"
	else
	    echo "success\n"
	fi	
}


get_err_msg() {
	cat $test_log > $1 
#	awk '/==ERROR:/,0' $test_log >>  $1 

}


fix_log="${test_log/\.log/}"
echo $fix_log"---->"

status_log=$( get_status)
echo $status_log > "${fix_log}.status"

get_err_msg  "${fix_log}.msg" 


