build_dir=$1
test_log=$2
fix_log="${test_log/\.log/}"


bash -c "cd tests && make -j {{cpu_count}} -s log.test && ./log.test  "  2>&1 > "${fix_log}.msg" 


return_status=$?
expect_status=0

if [ $return_status -ne $expect_status ]; then 
	    echo "FAILED\n" > "${fix_log}.status" ;
else 
	    echo "success\n" > "${fix_log}.status" ; 
fi







